/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5; /* Blanco Humo */
    color: #2C3E50; /* Azul Marino Oscuro */
}

/* Encabezado */
header {
    background: #2C3E50; /* Azul Marino Oscuro */
    color: #FFFFFF; /* Blanco */
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

/* Contenedor principal con menú a la derecha */
.container {
    display: flex;
    flex-direction: row-reverse; /* Menú a la derecha */
    min-height: calc(100vh - 100px);
}

/* Menú lateral */
.menu {
    width: 25%;
    background: #34495E; /* Gris Pizarra */
    padding: 20px;
    color: #FFFFFF; /* Blanco */
}

.menu h2 {
    text-align: center;
    color: #16A085; /* Verde Azulado Oscuro */
}

/* Botones del menú */
.menu-btn {
    width: 100%;
    padding: 12px;
    background: #16A085; /* Verde Azulado Oscuro */
    color: #FFFFFF; /* Blanco */
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.3s;
}

.menu-btn:hover {
    background: #1ABC9C; /* Verde Azulado Claro */
}

/* Sección de contenido */
.contenido {
    width: 75%;
    padding: 20px;
    background: #FFFFFF; /* Blanco */
    color: #2C3E50; /* Azul Marino Oscuro */
}

/* Secciones de información */
.seccion {
    display: none;
    padding: 15px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF; /* Blanco */
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
}

/* Imágenes */
.img-responsive {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Pie de página */
footer {
    background: #2C3E50; /* Azul Marino Oscuro */
    color: #FFFFFF; /* Blanco */
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}
