body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

.container {
    display: flex;
}

nav {
    width: 200px; /* Ancho fijo para el menú */
    background-color: #f0f0f0;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: #333;
    display: block; /* Para que los enlaces ocupen todo el ancho */
    padding: 0.5rem;
}

.content {
    flex: 1; /* El contenido principal ocupa el espacio restante */
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
